.alertBackground
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    z-index: 9999;
    opacity: 0.6;
}

.alertDiv 
{
    padding: 15px;
    position: fixed;
    top: 15%;
    left: 15%;
    width: 70%;
    min-height: 10px;
    z-index: 10000;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.75);
}
.alertError 
{
    background: #f4e9e9;
    border-top: 5px solid red;
}
.alertSuccess
{
    background: #f0f5ea;
    border-top: 5px solid #5ea400;
}
.alertMessage 
{
    color: #222;
    margin: 20px auto;
    display: table;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.alertButton 
{
    margin-top: 10px;
    width: 50%;
    left: 25%;
}

@media (min-width: 767px) 
{

    .alertDiv 
    {
        width: 40%;
        left: 30%;
    }
}

@media (min-width: 992px) 
{

    .alertDiv
    {
        width: 25%;
        left: 37.5%;
    }

    .alertButton 
    {
        width: 100px;
        left: calc(50% - 50px);
    }
}
