#profileContainer
{
    padding: 0;
    margin-top:25px;
}
#profileDetails
{
    padding: 0;

}
.profileSectionHeader 
{
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 1px solid #efefef;
}
.profileSectionList 
{
    min-height: 250px;
    position: relative;
}
.profileSection 
{
    margin-top: 20px;
    padding: 0;
}
.profileSection div
{
    padding: 0;
}
.profileSection label
{
    padding: 0;
    font-weight: bold;
}
.profileSection input 
{
    margin-bottom: 10px;
}
.profileSectionNull 
{
    color: #333;
    position: absolute;
    cursor: pointer;
    top: 40%;
}

.profileSectionNull > i
{
    display: block;
    text-align: center;
}
.profileSectionNullText 
{
    padding: 0;
    text-align: center;
    font-weight: bold;
}
#profileAddresses
{
    padding:0;
}
#profileAddNewAddressIcon > i
{
    margin-left: 10px;
    line-height: 34px;
    height: 34px;
}
#userAddressesForm
{
    display: none;

}
#userAddressesForm button
{
    margin-top: 10px;
    margin-right: 20px;
}
#userAddressesFormContainer
{
    margin-top:25px;
}
#profileAddDetailsContainer
{
    padding: 0;
    margin-top:25px;
}
#profileAddDetailsContainer button 
{
    margin-top:10px;
}
.error 
{
    background: #f4e9e9;
    border: 2px solid red;
}
#profileAddAddressContainer 
{
    padding: 0;
    margin-top: 25px;
}
#profileAddAddressContainer button
{
    margin-top: 10px;
}
#profileOrderDetails
{
    margin-bottom: 25px;
}
#profileOrderDetails h3 
{

    padding:0;
}
#profileOrdersList 
{
    padding: 0;
}
#profileOrdersList table th
{
    text-align: center;
}
#profileOrdersList table tr 
{
    text-align:center;
}
.profileOrderProduct
{
    line-height:50px;
    text-align: center;
    border-bottom:1px solid #efefef;
    background: #ddd;
}
.profileOrderProductHeaders
{
    font-weight: bold;
    text-align: center;
}
.orderID
{
    text-align: left;
}
