.container-fluid
{
    margin: 0;
    padding: 0;
}
#react-app
{
    min-height: 100vh;
    position: relative;
    overflow: auto;
}
footer
{
    clear: both;
}
#mainBody
{
    margin-top: 100px;
    margin-bottom: 25px;
}