footer {
    border-top: 1px solid black;
    background: #222;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footer-top 
{
    width: 100%;
    margin-top: 10px;
    overflow: auto;
}

#footer-bottom {
    background: #333;
    min-height: 70px;
    line-height: 70px;
}

#footer-bottom p {
    padding: 0;
    margin: 0;
    color: #FF9700;
    text-align: center;
}

.footer-header {
    color: white;
    font-weight: bold;
    text-align: center;
}

.footer-box ol {
    list-style-type: none;
}

.footer-box, .footer-box a {
    color: #FF9700;
}

.footer-box a:hover {
    color: #04396C;
    text-decoration: none;
    font-weight: bold;
}

.footer-box input[type="submit"] {
    display: block;
    margin: 10px auto 0;
}
@media (min-width: 767px) 
{

}