#orderContainer
{
    padding:0;
    margin-top:25px;
}
#orderTable
{
    text-align: center;
}
.orderHeaderMiddle 
{
    text-align: center;
}
#orderNameHeader
{
    text-align: left;
}
.orderTableName
{
    text-align:left;
}
#orderTotalPrice
{
    padding: 5px;
    font-weight: bold;
    border-top: 2px solid #efefef;
    text-align:center;
}
#orderAddress 
{
    padding: 5px;
}
#orderAddress div 
{
    padding:0;
}
#orderAddress button
{
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}
#orderAddress > h4 
{
    padding: 0;
    font-weight: bold;
}

