#registerContainer 
{
    float: none;
    margin: 0 auto;
}
#registerContainer > h2 
{
    text-align: center;
}

#registerForm 
{
    margin: 0 auto;
}

.registerInputDiv
{
    margin-top: 20px;
}
#registerContainer button 
{
    display: block;
    margin: 0 auto;
}
.error 
{
    background: #f4e9e9;
    border:2px solid red;
}
#rePasswordRegister 
{
    margin-bottom: 20px;
}

@media (min-width: 767px) 
{
    #registerForm 
    {
        width: 60%;
    }
}