#searchContainer
{
    padding:0;
}
#searchTopBar
{
    margin: 15px 0;
    overflow: auto;
    padding: 0;
}
#searchOrderBar 
{
    padding: 0;
    margin: 15px 0;
    height: 46px;
    float: right;
}
#searchOrderBySelect
{
    margin-top: 5px;

}
#searchMain 
{
    border-top: 1px solid #efefef;
}
